<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">D&D Character Generator</h1>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_firstname">What is your first name?</label>
          <input type="text" class="form-control" name="input_firstname"  id="input_firstname" placeholder="Fred">
        </div>
        <div class="form-group">
          <label for="input_lastname">What is your last name?</label>
          <input type="text" class="form-control" name="input_lastname"  id="input_lastname" placeholder="Flintstone">
        </div>
        <div class="form-group">
        <div class="form-group">
          <label for="input_petname">What is your favorite pet's name?</label>
          <input type="text" class="form-control" name="input_petname"  id="input_petname" placeholder="Dino">
        </div>
        <div class="form-group">
          <label for="input_trait">What is your most desired trait?</label>
          <select class="form-control" name="input_trait" id="input_trait">
            <option>Loyalty</option>
            <option>Beauty</option>
            <option>Adaptability</option>
            <option>Cunning</option>
            <option>Strength</option>
            <option>I just wanna be like, so tall</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_weapon">Choose your weapon(s)!</label>
          <select multiple class="form-control" name="input_weapon" id="input_weapon">
            <option>Sword</option>
            <option>Axe</option>
            <option>Bow and arrows</option>
            <option>Dagger</option>
            <option>Magic wand</option>
            <option>Fists</option>
            <option>A sick guitar</option>
            <option>Shield</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>

